{
  "project_info": {
    "project_number": "123456789000",
    "project_id": "your-firebase-project-id",
    "storage_bucket": "your-project-id.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:123456789000:android:YOUR-APP-ID",
        "android_client_info": {
          "package_name": "io.github.ishanlahiru.barbcut"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR-API-KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
